/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  margin: 10px;
}

form {
  border: 1px solid #a9a9a9;
  padding: 20px;
}

.subtext {
  color: #a9a9a9;
  font-weight: unset;
}

#sign-in,
#sign-up {
  width: 100%;
}

a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  width: 100px;
  height: 50px;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form select {
  height: 30px;
}

.form-header {
  height: 60px;
}

.form-input-control label {
  display: block;
  margin-bottom: 6px;
}

.form-input-control {
  margin-bottom: 30px;
}

.form-checkbox-control {
  height: 30px;
}

.form-submit-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  gap: 30px;
}

.form-group-horizontal-control {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.form-group-horizontal-control .form-input-control {
  width: 50%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  height: 30px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

.form-group-horizontal-control select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.form-group-vertical-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-radio-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

